# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jialv\OneDrive\2020-2021\Quarter 3\Deep learning\Project\Reproducibility_project_git\LambdaNetworks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
